* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    


#navbar{

    background-color: ghostwhite;
    width: 100%;
    height: 5%;
    border-bottom: 3px rgb(245, 50, 25, .2) ridge;

    

}

#navbar h1{

    float: left;
    
    color: rgb(245, 50, 25, .8);
    padding: 1%;
    margin: 0;
    font-size: 250%;
    margin-left: 4%;

}

.ul{
    
    display: flex;
    list-style: none;
    margin-left: 60%;
    padding: 2%;
    justify-content: space-around;

}

.listitems {
    
    text-decoration: none;
    font-weight: bolder;
    color: black;
    
    font-size: 110%;
    
}

.clear{

    clear: both;
}


#block1{
    position: relative;
    width: 100%;
    height: 50%;

    
    
    
    

}

#block1 img{
    width: 100%;
    

    object-fit: cover;
    opacity: 60%;
    
  
    



    
}

.objective{
    position: relative;

    background-color: white;
    
    width: 30%;
    height: 30%;
    color: black;
    text-align: center;

    

    margin-top: -26%;
    padding-bottom: 20%;

    margin-left: 35%;

    font-size: 200%;
}



#block2{

    width: 100%;
    
    
    


}

#block2 img{

    width: 100%;
    object-fit: cover;
    display: block;
    opacity: 30%;

}

#block2 p{
    float: left;
    width: 20%;
    margin-top: 5%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    margin-left: 9.5%;
    font-size: 110%;
    font-weight: bold;
    text-align: center;

     
    
    background-color: rgb(255,255,224);

    border-radius: 10%;
 
    

    border: 3px rgb(238, 238, 175) double;
    
    
    
}

.clear{
    clear: both;
}


#footer{
    margin-top: 5%;
    background-color: rgb(245, 50, 25, .3);
    padding-top: 2%;
    padding-bottom: 2%;
    bottom: 0;
    text-align: center;
}


